{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "semi": true,
  "endOfLine": "crlf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
   "useTabs": false
}
